body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    background: url('../img/Header%20BG.png') no-repeat center top/cover;
    height: 944px;
    position: relative;

}

.headNav {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #282929;
}

nav {
    float: right;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    position: relative;
    padding-top: 30px;
    float: left;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
    padding-top: 40px;
}

.menu li {
    float: left;
    display: block;
}

.menu a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin-right: 59px;
    font-size: 16px;
    padding-bottom: 31px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.menu li a:hover {
    transition: ease-in-out 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.titles {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 347px;
}

.titles h1 {
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: bold;
}

.titles h2 {
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 32px;
    font-style: italic;
}

.div1 {
    cursor: pointer;
    height: 120px;
    width: 50%;
    float: left;
    background-color: #21424a;
}

.div11 p:hover {
    color: #2fac6c;

    transition: .3s ease-in-out;
}

.div21 p:hover {
    color: #21424a;

    transition: .3s ease-in-out;
}

.div2 {
    cursor: pointer;
    height: 120px;
    width: 50%;
    float: right;
    background-color: #2fac6c;
}

.div2::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 120px solid #2fac6c;
    border-left: 20px solid transparent;
    left: 655px;
    top: 944px;
    bottom: 0;
}

.reglog {
    margin-bottom: 90px;
}

.reglog p {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.div11 {
    position: relative;
    left: 50%;
    top: 25%
}

.div21 {
    position: absolute;
    left: 900px;
    top: 970px;
}

.tables {
    background-color: #fff;
    height: 580px;
}

.tables h1 {
    color: #383737;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

.domain {
    padding-top: 90px;
    margin: 0 auto;
    height: 25px;
    width: 420px;
    margin-bottom: 30px;
}

.tables h2 {
    text-align: center;
    color: #a2a2a2;
    font-size: 16px;
    margin-bottom: 50px;
}

.inputDomain {
    margin: 0 auto;
    width: 890px;
    height: 50px;
    border: 1px solid #d9d9d9;
}

.www {
    display: inline-block;
    padding-left: 15px;
    padding-right: 10px;
}

.www p {
    color: #d9d9d9;
}

.table input[type='text'] {
    height: 30px;
    width: 710px;
    margin: auto;
    border: none;
    padding-left: 15px;
    border-right: 2px solid #d9d9d9;
    border-left: 2px solid #d9d9d9;
    outline: none;
    color: #868686;
    font-size: 15px;
}


::-webkit-input-placeholder {
    color: #868686;
    font-size: 14px;
}

::-moz-placeholder {
    color: #868686;
    font-size: 14px;
}

:-moz-placeholder {
    color: #868686;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: #868686;
    font-size: 14px;
}

.table input[type='text']:focus::-webkit-input-placeholder {
    transition: .3s ease-in-out;
    color: #d9d9d9;
    font-size: 11px;
}

.table input[type='text']:focus::-moz-placeholder {
    transition: .3s ease-in-out;
    color: #d9d9d9;
    font-size: 11px;
}

.table input[type='text']:focus:-moz-placeholder {
    transition: .3s ease-in-out;
    color: #d9d9d9;
    font-size: 11px;
}

.table input[type='text']:focus:-ms-input-placeholder {
    transition: .3s ease-in-out;
    color: #d9d9d9;
    font-size: 11px;
}


.inputDomain {}

.selects {
    cursor: pointer;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    border-radius: 0;
    border: 0px solid #cbd1d4;
    font-size: 14px;
    color: #cbcbcb;
    /* Убираем стандартное поведение для браузеров (без него селекты будут системные) */
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    /* Иконка стрелки вниз для селекта  */
    background: url("../img/fa-angle-down.png") right center no-repeat;
    outline: none;
}

.mainTable {
    margin: 0 auto;
    margin-top: 40px;
    width: 890px;
    height: 195px;
    border: 1px solid #d9d9d9
}

.beautyTable {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 17px;
    cursor: pointer;
}

.beautyTable td {
    text-align: center;
    width: 195px;
    height: 80px;
    color: #cbcbcb;
    font-size: 14px;
}

.beautyTable td:hover {
    color: #000;
    font-size: 15px;
    transition: .2s ease-in-out;
}

.FirstRow td {
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.FirstRow td:last-child {
    border-right: none;
}

.SecondRow td {
    position: relative;
    border-right: 1px solid #d9d9d9;
}

.SecondRow td:last-child {
    border-right: none;
}

.SecondRow td::before {
    position: absolute;
    top: -10px;
    left: 187px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    content: "";
}

.packages {
    margin-bottom: 0;
    padding-bottom: 0;
}

.packBack {
    width: 100%;
    height: 385px;
    background: url(../img/Packages%20Photo.png) no-repeat center top/cover;
}

.packChoose {
    height: 380px;
    width: 100%;
    border-bottom: 2px dotted #d9d9d9;
}

.card {
    background-color: #fff;
    top: -280px;
    position: relative;
    margin-left: 55px;
    display: inline-block;
    width: 255px;
    height: 560px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card:first-child {
    margin-left: 0;
}

.card:nth-child(1) {
    border-top: 5px solid #f9d423;
}

.card:nth-child(2) {
    border-top: 5px solid #7f8c8d;
}

.card:nth-child(3) {
    border-top: 5px solid #f85f40;
}

.card:nth-child(4) {
    border-top: 5px solid #1abc9c;
}

.headPack {
    margin: 0 auto;
    height: 105px;
    width: 200px;
    border-bottom: 1px solid #dfdfdf;
}

.borders {
    width: 40px;
    height: 40px;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
}

.bodyPack {
    margin: 0 auto;
    height: 280px;
    width: 200px;
    border-bottom: 1px solid #dfdfdf;

}

.ye {
    top: 20px;
    left: 100px;
    border-top: 5px solid #f9d423;
    transform: rotate(30deg);
}

.pal {
    top: 10px;
    left: 100px;
    border-right: 5px solid #7f8c8d;
    border-bottom: 5px solid #7f8c8d;
    transform: rotate(-45deg);
}

.re {
    border-right: 5px solid #f85f40;
    border-bottom: 5px solid #f85f40;
    border-left: 5px solid #f85f40;
    top: 10px;
    left: 100px;
    transform: rotate(-44deg);
}

.dia {
    border: 5px solid #1abc9c;
    top: 10px;
    left: 100px;
}

.ye i {
    transform: rotate(-30deg);
}

.pal i {
    transform: rotate(45deg);
}

.headPack i {
    font-size: 17px;
    position: absolute;
    left: 16px;
    top: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pal i {
    position: relative;
    top: 12px;
    left: 13px;
}

.ye i {
    left: 12px;
}

.re i {
    top: 11px;
    left: 12px;
    transform: rotate(44deg);
}

.dia i {
    left: 11px;
    top: 13px;
}

.headPack p {
    text-transform: uppercase;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 55px;
    left: 57px;
}

.first i {
    color: #f9d423;
}

.second i {
    color: #7f8c8d;
}

.third i {
    color: #f85f40;
}

.fourth i {
    color: #1abc9c;
}

.third p {
    left: 75px;
}

.second p {
    left: 55px;
}

.first p {
    left: 67px;
}

.bodyPack p {
    position: absolute;
    font-size: 17px;
}

.yellow {

    color: #f9d423;
    font-weight: bold;
}

.red {
    color: #f85f40;
    font-weight: bold;
}

.diamond {
    color: #1abc9c;
    font-weight: bold;
}

.gray {
    color: #7f8c8d;
    font-weight: bold;
}

.left {
    color: #dcdcdc;
}

.right {
    left: 198px;
}

.left2 {
    color: #dcdcdc;
    top: 140px;
}

.right2 {
    top: 140px;
    left: 198px
}

.left3 {
    top: 180px;
    color: #dcdcdc;
}

.right3 {
    top: 180px;
    left: 198px
}

.left4 {
    color: #dcdcdc;
    top: 220px;
}

.right4 {
    top: 220px;
    left: 198px
}

.left5 {
    color: #dcdcdc;
    top: 260px;
}

.right5 {
    top: 260px;
    left: 198px
}

.left6 {
    color: #dcdcdc;
    top: 300px;

}

.left7 {
    color: #dcdcdc;
    top: 340px;
}
.wt {
    left: 210px;
}
.spec4 {
    top: 220px;
    left: 220px
}

.spec5 {
    top: 260px;
    left: 220px
}

.price {
    position: absolute;
    left: 70px;
    top: 410px;
    width: 105px;
    text-align: center;
    height: 60px;
}

.price b {
    padding: 0;
}

.bordYellow {
    border-bottom: 2px solid #f9d423;
}

.bordGray {
    border-bottom: 2px solid #7f8c8d;
}

.bordRed {
    border-bottom: 2px solid #f85f40;
}

.bordDiamond {
    border-bottom: 2px solid #1abc9c;
}

.dollar {
    font-size: 17px;
    color: #2c2c2c;
}

.numb {
    font-size: 28px;
    color: #2c2c2c;
}

.mo {
    color: #8d8d8d;
    font-size: 13px;
}

.footPack h2 {
    font-size: 17px;
    position: absolute;
    left: 82px;
    top: 480px;
    cursor: pointer;
}

.footPack h2:active {
    font-size: 15px;
    transition: .15s ease-in-out;
}

.yellow1 h2:hover {
    color: #f1c40f;
    transition: .25s ease-in-out;
}

.gray1 h2:hover {
    color: #7f8c8d;
    transition: .25s ease-in-out;
}

.red1 h2:hover {
    color: #f85f40;
    transition: .25s ease-in-out;
}

.diamond1 h2:hover {
    color: #1abc9c;
    transition: .25s ease-in-out;
}

.aboutUs {
    height: 420px;
    width: 100%;
    background-color: #fff;
}

.textUs {
    margin-top: 100px;
    width: 400px;
    display: inline-block;
    position: relative;
    top: -20px;
}

.textUs h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;

}

.textUs h2 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #8b8b8b;
    text-align: justify;

}

.usIcon {
    display: inline-block;
    width: 650px;
    height: 180px;
    border-left: 2px dotted #d6d6d6;
    margin-left: 105px;
}

.Face {
    padding: 0;
    margin: 0;
    width: 115px;
    padding-left: 95px;
    display: inline-block;
    cursor: pointer;
}

.Face img:hover {
    transform: scale(1.15);
    transition: 0.3s ease-in-out;
}

.Face img {
    margin-bottom: 15px;
}

.Face h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #8e8e8e;
    font-size: 15px;
    margin-bottom: 13px;
}

.Face h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #303030;
    font-size: 17px;
    margin-bottom: 3px;
}

.Face i {
    margin-right: 25px;
    display: inline-block;
    color: #bfbfbf;
    cursor: pointer;
}

.Face i:first-child {
    padding-left: 10px;
}

.Face i:hover {
    color: #1f89ba;
    transition: .25s ease-in-out;
}

.Face i:last-child {
    margin-right: 0;
}

.sl {
    overflow: hidden;
}

.slider {
    height: 190px;
    width: 100%;
}

.slider1 {
    display: inline-block;
    background: url(../img/Comments%20BG%20Photo.png) center top/cover no-repeat;
    height: 190px;
    width: 100%;
}

.slider2 {
    background: url(../img/slider3.png) center top/cover no-repeat;
    height: 190px;
    width: 100%;
    display: inline-block;
}

.slider3 {
    background: url(../img/slider2.png) center bottom/cover no-repeat;
    height: 190px;
    width: 100%;
    display: inline-block;
}

.phrase {
    padding-top: 50px;
    margin-left: 15%;
    width: 885px;
    height: 30px;
}

.slider3 .phrase {
    width: 685px;
    margin-left: 25%;
}

.phrase h2 {
    padding: 0;
    margin: 0;
    font-weight: 200;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.author {
    display: inline-block;
    height: 15px;
    width: 100px;
    border-right: 1px solid #969696;
    margin-left: 600px;
    margin-top: 50px;
}

.author h2 {
    margin: 0;
    padding: 0;
    line-height: 10px;
    font-size: 20px;
    color: #fff;
}

.checkbox {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-bottom: 2px;
    margin-left: 5px;
}

.active {
    background-color: #fff;
}

.servers {
    background-color: #fff;
    width: 100%;
    height: 350px;
}

.serverChoose {
    display: inline-block;
    height: 150px;
    width: 230px;
    margin-top: 100px;
    margin-right: 75px;
}

.serverChoose:last-child {
    margin-right: 0;
}

.circle {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f1c40f;
    margin: 0 auto;
}

.circle i {
    font-size: 28px;
    color: #fff;
    position: relative;
    left: 23px;
    top: 18px;

}

.textServer h1 {
    font-size: 18px;
    text-align: center;
    color: #303030;
}

.textServer h2 {
    font-size: 16px;
    text-align: center;
    color: #7e7e7e;
}

.blue {
    background-color: #0faff1;
}

.blue i {
    left: 13px;
    top: 16px;
}

.pale {
    background-color: #95a5a6;
}

.pale i {
    left: 16px;
    top: 17px;
}

.orange i {
    left: 15px;
    top: 16px;
}

.orange {
    background-color: #f1540f;
}

.yellow:hover {
    background-color: #333;
    transition: .2s ease-in-out;
}

.yellow i:hover {
    color: firebrick;
    transition: .2s ease-in-out;
}

.blue:hover {
    background-color: grey;
    transition: .2s ease-in-out;
}

.blue i:hover {
    color: aquamarine;
    transition: .2s ease-in-out;
}

.pale:hover {
    background-color: brown;
    transition: .2s ease-in-out;
}

.pale i:hover {
    color: darkseagreen;
    transition: .2s ease-in-out;
}

.orange:hover {
    background-color: forestgreen;
    transition: .2s ease-in-out;
}

.orange i:hover {
    color: coral;
    transition: .2s ease-in-out;
}

.yellow:active {
    transform: scale(0.9);
    transition: .1s ease-in-out;
}

.yellow i:active {
    transition: .2s ease-in-out;
    transform: scale(0.9);
}

.blue:active {
    transform: scale(0.9);
    transition: .1s ease-in-out;
}

.blue i:active {
    transition: .2s ease-in-out;
    transform: scale(0.9);
}

.pale:active {
    transform: scale(0.9);
    transition: .1s ease-in-out;
}

.pale i:active {
    transition: .2s ease-in-out;
    transform: scale(0.9);
}

.orange:active {
    transform: scale(0.9);
    transition: .1s ease-in-out;
}

.orange i:active {
    transition: .2s ease-in-out;
    transform: scale(0.9);
}

footer {
    width: 100%;
    height: 300px;
    background-color: #2a2a2a;
}

.footmenu {
    margin-bottom: 35px;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #4a4a4a;
}

.menuSelects {
    float: right;
    padding-right: 0;
    margin-right: 0;
    ;
}

.footmenu img {
    float: left;
    padding-top: 23px;
}

.menufoot {
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    left: 57px;
}

.menufoot li {
    cursor: pointer;
    float: left;
    display: block;
    padding-top: 30px;
}

.menufoot a {
    list-style: none;
    text-decoration: none;
    color: #686868;
    margin-right: 59px;
    font-size: 16px;
    padding-bottom: 31px;
}

.menufoot a:hover {
    color: #fff;
    transition: .25s ease-in-out;
}

.footerInfo {
    height: 185px;
    width: 100%;
    position: relative;

}

.textfoot {
    width: 380px;
    height: 150px;
    display: inline-block;
    position: relative;
    top: -10px;
}

.textfoot h4 {
    padding-right: 90px;
    font-size: 15px;
    color: #686868;

}

.textfoot h5 {
    font-size: 15px;
    color: #686868;
}

.functions {
    display: inline-block;
    width: 500px;
    height: 150px;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    margin-right: 65px;
}

.footList {
    display: inline-block;
    margin-left: 90px;
    color: #535353;
    width: 150px;
    position: relative;
    top: -10px;
}

.footList p {
    word-spacing: 8px;
    cursor: pointer;
}

.footList i {
    position: relative;
    top: 1px;
}

.footList p:hover {
    color: #fff;
    word-spacing: 11px;
    transition: .25s ease-in-out;
}

.sec {
    margin-left: 60px;
}

.contactfoot {
    display: inline-block;
    width: 245px;
    height: 150px;
    position: relative;
    top: -2px;
}

.space {
    display: inline-block;
    margin-right: 8px;
}

.omg {
    cursor: pointer;
}

.omg h6 {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.omg:hover {
    color: #fff;

}

.omg h6:hover {
    margin-left: 3px;
    transition: .25s ease-in-out;
}

.space:hover {
    margin-right: 10px;
    transition: .25s ease-in-out;
}

.sec .omg {
    margin-top: 17px;
}

.last {
    position: absolute;
    cursor: pointer;
}

.last i {
    font-size: 14px;
}

.last p {
    word-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    color: #686868;
}

.last2 {
    top: 30px;
}

.last3 {
    top: 60px;
}

.last p:hover {
    color: #fff;
    transition: .25s ease-in-out;
}

.call {
    transition: .4s ease-in-out;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 150px;
    top: 30px;
    background-color: rgba(47, 172, 108, 0.7);
    border: 1px solid #686868;
    border-radius: 5px;
    visibility: hidden;
}

.question {
    width: 140px;
    height: 70px;
    margin: 0 auto;
}

.question p {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.buttons {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    padding: 0;
    cursor: pointer;
}

.buttons p {
    text-align: center;
    font-weight: 500;
    color: #fff;
    word-spacing: 3px;
}

.buttons p:hover {
    color: #0faff1;
    transition: .25s ease-in-out;
}

.buttons i {
    font-size: 14px;
}

.yes {
    border-radius: 10px;
    margin-left: 3px;
    display: inline-block;
    width: 70px;
    height: 100%;
    background-color: #21424a;
}

.no {
    border-radius: 10px;
    margin: 0 auto;
    display: inline-block;
    width: 70px;
    height: 100%;
    background-color: firebrick;
}

.ActiveCall {
    visibility: visible;
}

.exit {
    cursor: pointer;
    left: 133px;
    position: absolute;
    color: #575757;
}

.exit:hover {
    transition: .25s ease-in-out;
    color: #fff;
}
